<!DOCTYPE html>
<html>
  <head>
    <title>README-codenation</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  </head>
  <body for="html-export">
    <div class="mume markdown-preview   ">
      <h1 class="mume-header" id="gest%C3%A3o-de-clientes-banco-uati">
        Gest&#xE3;o de clientes Banco Uati
      </h1>

      <h2 class="mume-header" id="objetivo">Objetivo</h2>

      <p>
        O objetivo deste produto &#xE9; monitorar e gerar alertas da captura de
        uma determinada fonte com base em uma determinada base do cliente e
        regra pr&#xE9; estabelecida.
      </p>
      <h2 class="mume-header" id="contextualiza%C3%A7%C3%A3o">
        Contextualiza&#xE7;&#xE3;o
      </h2>

      <p>
        O Banco Uati gostaria de monitorar de forma cont&#xED;nua e automatizada
        caso um de seus clientes vire um funcion&#xE1;rio p&#xFA;blico do estado
        de SP (<a href="http://www.transparencia.sp.gov.br/busca-agentes.html"
          >http://www.transparencia.sp.gov.br/busca-agentes.html</a
        >) ou seja um bom cliente com um sal&#xE1;rio maior que 20 mil reais.
      </p>
      <p>
        A lista de clientes do banco Uati encontra-se no arquivo
        <code>clientes.csv</code> contido neste projeto.
      </p>
      <h2 class="mume-header" id="requisitos-t%C3%A9cnicos-obrigat%C3%B3rios">
        Requisitos t&#xE9;cnicos obrigat&#xF3;rios
      </h2>

      <ul>
        <li>Tela de login;</li>
        <li>
          Uma tela para cadastrar os usu&#xE1;rios que devem receber os alertas;
        </li>
        <li>
          Uma tela para importa&#xE7;&#xE3;o dos clientes do banco (Upload de
          CSV);
        </li>
        <li>
          Uma tela para controle do monitoramento/dashboard com n&#xBA; de
          alertas e outras funcionalidades que o grupo julgar interessantes;
        </li>
        <li>
          Uma tela para listar e detalhar os alertas, listar os envios de emails
          e para quem foi enviado, data, hora e outras funcionalidades que o
          grupo julgar interessantes;
        </li>
        <li>
          Enviar um alerta atrav&#xE9;s de e-mail quando um cliente se tornar um
          funcion&#xE1;rio do banco;
        </li>
        <li>
          Todas essas funcionalidades devem ser expostas para clientes que
          queiram integrar atrav&#xE9;s de uma API.
        </li>
      </ul>
    </div>
  </body>
</html>
